<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Intro to Angular 2</title>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/simple.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="css/sunburst.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
        document.write('<link rel="stylesheet" href="css/print/' + ( window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">');
    </script>

    <link rel="stylesheet" href="css/styles.css">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
<div class="reveal">

    <div class="slides">

        <section data-background-transition="slide">
            <div style="float: left;">
                <img src="img/shield.png"/>
            </div>
            <div style="float: right;">
                <h2>Intro to Angular 2</h2>
                <p>
                    <br/><br/>
                    <small>Created by John Urberg</small><br>
                    <small>Systems Architect @Lifetouch</small><br>
                    <small>@jurberg / jurberg.github.io</small>
                </p>
            </div>
        </section>

        <section>
            <h3>Angular 2 is in Beta!</h3>
            <br/>
            <p>"Beta means we're now confident that most developers can be successful building large applications using Angular 2."
                <a href="http://angularjs.blogspot.com/2015/12/angular-2-beta.html">*</a></p>
        </section>

        <section>
            <p>Angular 2 represents a massive change to the framework</p>
        </section>

        <section>
            <h2>Angular 1</h2>
        </section>

        <section>
            <pre><code class="xml">&lt;html lang="en" ng-app="phonecatApp">
&lt;body ng-controller="PhoneListCtrl">
  <ul>
    <li ng-repeat="phone in phones">
      <span>{{phone.name}}</span>
      <p>{{phone.snippet}}</p>
    </li>
  </ul>
  <script src="js/angular.js"></script>
  <script src="js/app.js"></script>
&lt;/body>
&lt;/html></code></pre>
        </section>

        <section>
            <pre><code class="javascript">function PhoneService() {
  this.phones = [/* ... */];
}

function PhoneListCtrl($scope, PhoneService) {
  $scope.phones = PhoneService.phones;
}

angular.module('phonecatApp', [])
  .service('PhoneService', PhoneService)
  .controller('PhoneListCtrl',
       ['$scope', 'PhoneService', PhoneListCtrl]);</code></pre>
        </section>

        <section>
            <img src="img/angular-one.png" height="55%" width="55%"/>
        </section>

        <section>
            <h2>Angular 2</h2>
        </section>

        <section>
            <pre><code class="xml">&lt;html>
&lt;head>
  <script>
    System.import('app/app')
      .then(null, console.error.bind(console));
  </script>
&lt;/head>
&lt;body>
  <my-app>Loading...</my-app>
&lt;/body>
&lt;/html></code></pre>
        </section>

        <section>
            <pre><code class="typescript">import {bootstrap} from 'angular2/platform/browser';
import {Component} from 'angular2/core';

interface Phone {
  name: string;
  snippet: string;
}

class PhoneService {
  public phones:Phone[] = [/* ... */];
}</code></pre>
        </section>

        <section>
            <pre><code class="typescript">@Component({
  selector: 'my-app',
  templateUrl: 'app/app.html'
})
export class AppComponent {

  public phones: Phone[];

  constructor(phoneService:PhoneService) {
    this.phones = phoneService.phones;
  }

}

bootstrap(AppComponent, [PhoneService]);</code></pre>
        </section>

        <section>
            <pre>&lt;!-- app.html -->
&lt;ul>
  &lt;li *ngFor="#phone of phones">
    &lt;span>{{phone.name}}&lt;/span>
    &lt;p>{{phone.snippet}}&lt;/p>
  &lt;/li>
&lt;/ul></pre>
        </section>

        <section>
            <pre><code class="typescript">function PhoneService() {
  this.phones = [/* ... */];
}

function AppComponent(PhoneService) {
  this.phones = PhoneService.phones;
}
AppComponent.annotations = [
  new ng.core.Component({
    selector: 'my-app',
    templateUrl: 'app/app.html'
  })];
AppComponent.parameters = [new ng.core.Inject(PhoneService)];

document.addEventListener('DOMContentLoaded', function() {
  ng.platform.browser.bootstrap(AppComponent, [PhoneService]);
});</code></pre>
        </section>

        <section>
            <pre><code class="javascript">function PhoneService() {
  this.phones = [/* ... */];
}

var AppComponent = ng.core
  .Component({
    selector: 'my-app',
    templateUrl: 'app/app.html'
  })
  .Class({
    constructor: [PhoneService, function(PhoneService) {
      this.phones = PhoneService.phones;
    }]
  });
document.addEventListener('DOMContentLoaded', function() {
  ng.platform.browser.bootstrap(AppComponent, [PhoneService]);
});</code></pre>
        </section>

        <section>
            <p><a href="https://angular.io/docs/ts/latest/guide/">Angular Guide</a></p>
        </section>

        <section>
            <img src="img/overview2.png" height="125%" width="125%"/>
        </section>

        <section>
            <h3>Modules</h3>
            <br/>
            <p>Angular 2 no longer provides it's own modules.</p><p>It uses TypeScript or ES6 modules instead.</p>
        </section>

        <section>
            <h3>Angular 1</h3>
            <pre><code class="typescript">angular.module('app', ['app.component']);</code></pre>
            <h3>Angular 2</h3>
            <pre><code class="typescript">import {Component} from 'angular2/core';
import {AppComponent} from './app.component';</code></pre>
        </section>

        <section>
            <h3>Components</h3>
            <br/>
            <p>A component is the main UI building block of Angular 2</p>
        </section>

        <section>
            <ul>
                <li class="fragment">An Angular 2 app is a tree of components</li>
                <li class="fragment">Every Angular 2 app must have at least one component</li>
                <li class="fragment">A component class is an execution context for the template</li>
                <li class="fragment">A component requires a @Component annotation</li>
            </ul>
        </section>

        <section>
            <h4>Component Lifecyle Hooks</h4>
            <br/>
            <ul>
              <li>ngOnChanges - called when a binding value changes</li>
              <li>ngOnInit - after the first ngOnChanges</li>
              <li>ngDoCheck - developer's custom change detection</li>
              <li>ngAfterContentInit - after component content initialized</li>
              <li>ngAfterContentChecked - after every check of component content</li>
              <li>ngAfterViewInit - after component's view(s) are initialized</li>
              <li>ngAfterViewChecked - after every check of a component's view(s)</li>
              <li>ngOnDestroy - just before the directive is destroyed.</li>
            </ul>
        </section>

        <section>
            <h2>Gone!</h2>
            <br/>
            <ul>
                <li>Controllers</li>
                <li>Scope</li>
            </ul>
        </section>

        <section>
            <h3>Angular 1</h3>
            <pre><code class="typescript">function AddOnController($scope, ProductCatalogStore) {
  this._store = ProductCatalogStore;
  this.addOns = [];
  this.init = function() {
    this.addOns = this._store.getAddOns();
  };
  $scope.$on('destroy', function() {
    this.addOns = [];
  });
}
app.controller('AddOnController',
  ['$scope', 'ProductCatalogStore', AddOnController]);</code></pre>
            </section>

        <section>
            <h3>Angular 2</h3>
            <pre><code class="typescript">@Component({
  providers: [ProductCatalogStore],
  directives: [AddOnItemComponent]
})
export class AddOnComponent implements OnInit, OnDestroy {
  addOns:AddOn[];
  constructor(private _store: ProductCatalogStore) {
  }
  ngOnInit() {
    this.addOns = this._store.getAddOns();
  }
  ngOnDestroy() {
    this.addOns = null;
  }
}</code></pre>
        </section>

        <section>
            <h3>Templates</h3>
            <br/>
            <p>"HTML Plus"</p>
        </section>

        <section>
            <h3>HTML Attribute vs. DOM Property</h3>
            <br/>
            <ul>
                <li>Attributes are defined by HTML</li>
                <li>Properties are defined by DOM</li>
                <li>Angular 2 binds to DOM properties</li>
            </ul>
        </section>

        <section>
            <p>Attributes initialize DOM properties and then they are done. Property values may change; attribute values don't.</p>
        </section>

        <section>
            <p>The HTML attribute and the DOM property are not the same thing even when they have the same name.</p>
        </section>

        <section>
            <h3>Property Bindings</h3>
            <br/>
            <ul>
                <li>Element Property</li>
                <li>Component Property</li>
                <li>Directive property</li>
            </ul>
        </section>

        <section>
            <pre><code class="xml"><!-- Angular 1 using @ -->
<todo-cmp model="myTodo"></todo-cmp>

<!-- Angular 2 -->
<todo-cmp bind-model="myTodo"></todo-cmp>

<!-- Angular 2 "Shorthand" -->
<todo-cmp [model]="myTodo"></todo-cmp></code></pre>
        </section>

        <section>
            <pre><code class="xml"><!-- Attribute -->
&lt;td [attr.colspan]="1 + 1">One-Two&lt;/td>

<!-- Class -->
&lt;div [class.special]="isSpecial">Special&lt;/div>

<!-- Style -->
&lt;button [style.color] = "isSpecial ? 'red' : 'green'"/></code></pre>
        </section>

        <section>
            <ul>
                <li>ng-src => [src]</li>
                <li>ng-href => [href]</li>
                <li>ng-show => [visible]</li>
                <li>ng-hide => [hidden]</li>
                <li>ng-style="color: red" => [style.color]="red"</li>
                <li>ng-class="name" => [class.name]</li>
                <li>ng-class={'name': condition} => [class.name]="condition"</li>
            </ul>
        </section>

        <section>
            <h3>Event Bindings</h3>
            <br/>
            <ul>
                <li>Element Event</li>
                <li>Component Event</li>
                <li>Directive Event</li>
            </ul>
        </section>

        <section>
            <pre><code class="xml"><!-- Angular 1  using & -->
&lt;button ng-click="submit()"/>

<!-- Angular 2 -->
&lt;button on-click="submit()"/>

<!-- Angular 2 "Shorthand" -->
&lt;button (click)="submit($event)"/>

<!-- Bubble Event Up -->
&lt;button (^click)="submit($event)"/></code></pre>
        </section>

        <section>
            <ul>
                <li>ng-click => (click)</li>
                <li>ng-dblclick => (dblclick)</li>
                <li>ng-keydown => (keydown)</li>
                <li>ng-keyup => (keyup)</li>
                <li>ng-mouseover => (mouseover)</li>
                <li>ng-mouseenter => (mouseenter)</li>
                <li>ng-mouseleave => (mouseleave)</li>
            </ul>
        </section>

        <section>
            <h3>Two-Way Bindings</h3>
            <pre><code class="xml"><!-- Angular 1 using = -->
<todo-cmp model="myTodo"></todo-cmp>

<!-- Angular 2 -->
<todo-cmp bindon-model="myTodo"></todo-cmp>

<!-- Angular 2 "Shorthand" -->
<todo-cmp [(model)]="myTodo"></todo-cmp>

&lt;input [(ngModel)]="todo.text"/>

&lt;input [ngModel]="todo.text"
       (ngModelChange)="todo.text=$event"/></code></pre>
        </section>

        <section>
            <h3>Local Variables</h3>
            <pre>&lt;video #movieplayer>
  &lt;button (click)="movieplayer.play()">
&lt;/video>

&lt;video-player var-movieplayer>&lt;/video-player>

&lt;input #new-todo/>
&lt;p>{{newTodo.value}}&lt;/p></pre>
        </section>

        <section>
            <h3>Template Elements</h3>
            <br/>
            <p>“syntactic sugar” that makes it easier to read and write directives that modify HTML layout</p>
        </section>

        <section>
            <pre>&lt;!-- Angular 1 -->
&lt;li ng-repeat="item in items">
  {{$index}} {{item}}
&lt;/li>

&lt;!-- Angular 2 -->
&lt;li *ngFor="#item of items; #i = index">
  {{i}} {{item}}
&lt;/li>

&lt;!-- Angular 2.0 longhand ngFor -->
&lt;template ngFor #item="$implicit" [ngForOf]="items" #i="index">
  {{i}} {{item}}
&lt;/template></pre>
        </section>

        <section>
            <h3>Input/Output Variables</h3>
            <br/>
            <p>Creates parameters for directive properties</p>
        </section>


        <section>
            <pre><code>&lt;hero-detail
  [hero]="currentHero"
  (deleted)="onHeroDeleted($event)">
&lt;/hero-detail></code></pre>
        </section>

        <section>
            <pre><code class="javascript">class HeroDetailComponent {
  @Input() hero: Hero;
  @Output() deleted = new EventEmitter&lt;Hero>();
}</code></pre>
        </section>

        <section>
            <pre><code class="javascript">HeroDetailComponent = ng.core
  .Component({
    inputs: ['hero'],
    outputs: ['deleted'],
  })
  .Class({
    constructor: function() {
      this.hero = null;
      this.deleted = new EventEmitter();
    }
});</code></pre>
        </section>

        <section>
            <h3>Pipes</h3>
            <br/>
            <p>Angular 2 replacement for filter</p>
        </section>

        <section>
            <pre><code><p>The hero's birthday is {{ birthday | date }}</p></code></pre>
        </section>

        <section>
            <pre><code class="javascript">app.filter('reverse', function() {
  return function(input) {
    input = input || '';
    var out = "";
    for (var i = 0; i < input.length; i++) {
      out = input.charAt(i) + out;
    }
    return out;
  };
})</code></pre>
        </section>

        <section>
            <pre><code>import {Pipe} from 'angular2/core';

@Pipe({name: 'exponentialStrength'})
export class ExponentialStrengthPipe {
  transform(value:number, args:string[]) : any {
    return Math.pow(value, parseInt(args[0] || '1', 10));
  }
}</code></pre>
        </section>

        <section>
            <pre><code>@Component({
  selector: 'power-booster',
  template: `
   <h2>Power Booster</h2>
   <p>
    Super power boost: {{2 | exponentialStrength: 10}}
   </p>
  `,
  pipes: [ExponentialStrengthPipe]
})
export class PowerBooster { }</code></pre>
        </section>

        <section>
            <h3>Routing</h3>
        </section>

        <section>
            <h4>Angular 1</h4>
            <pre><code class="javascript">phonecatApp.config(['$routeProvider',
  function($routeProvider) {
    $routeProvider.
      when('/phones', {
        templateUrl: 'partials/phone-list.html',
        controller: 'PhoneListCtrl'
      }).
      when('/phones/:phoneId', {
        templateUrl: 'partials/phone-detail.html',
        controller: 'PhoneDetailCtrl'
      }).
      otherwise({
        redirectTo: '/phones'
      });
}]);</code></pre>
        </section>

        <section>
            <h4>Angular 2</h4>
            <pre><code class="javascript">@Component({ ... })
@RouteConfig([
  {path:'/crisis-center', name: 'CrisisCenter',
    component: CrisisListComponent},
  {path:'/heroes', name: 'Heroes',
    component: HeroListComponent},
  {path:'/hero/:id', name: 'HeroDetail',
    component: HeroDetailComponent}
])
export class AppComponent { }</code></pre>
        </section>

        <section>
            <pre><code><h1>Component Router</h1>
<a [routerLink]="['CrisisCenter']">Crisis Center</a>
<a [routerLink]="['Heroes']">Heroes</a>
<router-outlet></router-outlet></code></pre>
        </section>

        <section>
            <h3>Directives</h3>
            <br/>
            <ul>
                <li>Components</li>
                <li>Structural directives</li>
                <li>Attribute directives</li>
            </ul>
        </section>

        <section>
            <h3>Components</h3>
            <br/>
            <p>a directive with a template</p>
        </section>

        <section>
            <h3>Structural Directives</h3>
            <br/>
            <p>changes the DOM layout by adding and removing DOM elements</p>
        </section>

        <section>
            <ul>
                <li class="fragment">Transforms the element into a template</li>
                <li class="fragment">Creates/Destroys the contents of the template in the DOM</li>
                <li class="fragment">Uses * as syntatical sugar</li>
            </ul>
        </section>

        <section>
            <pre>&lt;!-- (A) *ngIf paragraph -->
&lt;p *ngIf="condition">
  Our heroes are true!
&lt;/p>

&lt;!-- (B) [ngIf] with template -->
&lt;template [ngIf]="condition">
  &lt;p>
      Our heroes are true!
  &lt;/p>
&lt;/template></pre>
        </section>

        <section>
            <pre><code class="typescript">@Directive({ selector: '[myUnless]' })
export class UnlessDirective {
  constructor(
    private _templateRef: TemplateRef,
    private _viewContainer: ViewContainerRef
  ) { }
  @Input() set myUnless(condition: boolean) {
    if (!condition) {
      this._viewContainer.createEmbeddedView(
                this._templateRef);
    } else {
      this._viewContainer.clear();
    }
  }
}</code></pre>
        </section>

        <section>
            <pre>&lt;p *myUnless="condition">
  condition is false and myUnless is true.
&lt;/p></pre>
        </section>

        <section>
            <h3>Attribute Directives</h3>
            <br/>
            <p>changes the appearance or behavior of a DOM element</p>
        </section>

        <section>
            <pre><code>import {Directive, ElementRef, Renderer, Input}
   from 'angular2/core';

@Directive({
  selector: '[myHighlight]'
})
export class HighlightDirective {
  constructor(el: ElementRef, renderer: Renderer) {
    renderer.setElementStyle(el,
        'backgroundColor', 'yellow');
  }
}</code></pre>
        </section>

        <section>
            <pre>import {Component} from 'angular2/core';
import {HighlightDirective} from './highlight.directive';

@Component({
  selector: 'my-app',
  template: `
     &lt;h1>My First Attribute Directive&lt;/h1>
     &lt;span myHighlight>Highlight me!&lt;/span>
  `,
  directives: [HighlightDirective]
})
export class AppComponent { }
</pre>
        </section>

        <section>
            <pre><code class="typescript">@Directive({
  selector: '[myHighlight]',
    host: {
      '(mouseenter)': 'onMouseEnter()',
      '(mouseleave)': 'onMouseLeave()'
    }
})
export class HighlightDirective {

  @Input('myHighlight') highlightColor: string;
  private _defaultColor = 'red';

  @Input() set defaultColor(colorName:string) {
    this._defaultColor = colorName ||
                this._defaultColor;
  }</code></pre>
        </section>

        <section>
            <pre><code class="typescript">  constructor(private el: ElementRef,
    private renderer: Renderer) { }

  onMouseEnter() {
    this._highlight(this.highlightColor ||
                this._defaultColor);
  }

  onMouseLeave() { this._highlight(null); }

  private _highlight(color:string) {
    this.renderer.setElementStyle(this.el,
                'backgroundColor', color);
  }

}</code></pre>
        </section>

        <section>
            <pre>&lt;p [myHighlight]="color" [defaultColor]="'violet'">
  Highlight me!
&lt;/p></pre>
        </section>

        <section>
            <h3>Forms</h3>
            <br/>
            <p>Angular 2 provides framework support for two-way data binding, change tracking, validation, and error handling</p>
        </section>

        <section>
            <pre><code class="typescript">@Component({
  selector: 'hero-form',
  templateUrl: 'app/hero-form.component.html'
})
export class HeroFormComponent {
  powers = ['Really Smart', 'Super Flexible',
            'Super Hot', 'Weather Changer'];
  model = new Hero(18, 'Dr IQ', this.powers[0],
                   'Chuck Overstreet');
  submitted = false;
  onSubmit() { this.submitted = true; }
}</code></pre>
        </section>

        <section>
            <pre>&lt;form (ngSubmit)="onSubmit()" #heroForm="ngForm">
  &lt;div class="form-group">
    &lt;label for="name">Name&lt;/label>
    &lt;input type="text" class="form-control" required
      [(ngModel)]="model.name"
      ngControl="name"  #name="ngForm" >
    &lt;div [hidden]="name.valid" class="alert alert-danger">
      Name is required
    &lt;/div>
  &lt;/div>
  &lt;button type="submit" class="btn btn-default"
    [disabled]="!heroForm.form.valid">Submit&lt;/button>
&lt;/form></pre>
        </section>

        <section>
            <h3>Observables</h3>
            <br/>
            <p>Angular 2 use RxJS to provide observables on forms</p>
        </section>

        <section>
            <pre><code class="javascript">import {Injectable} from 'angular2/core';
import {URLSearchParams, Jsonp} from 'angular2/http';

@Injectable()
export class WikipediaService {
  constructor(private jsonp: Jsonp) {}
  search (term: string) {
    var search = new URLSearchParams()
    search.set('action', 'opensearch');
    search.set('search', term);
    search.set('format', 'json');
    return this.jsonp
        .get('http://en.wikipedia.org/w/api.php?callback=JSONP_CALLBACK', { search })
        .map((request) => request.json()[1]);
  }
}</code></pre>
        </section>

        <section>
            <pre>@Component({
  selector: 'my-app',
  template: `
      &lt;input type="text" [ngFormControl]="term"/>
      &lt;ul>
        &lt;li *ngFor="#item of items | async">{{item}}&lt;/li>
      &lt;/ul>
  `
})
export class App {
  items: Observable&lt;Array&lt;string>>;
  term = new Control();
  constructor(private wikipediaService: WikipediaService) {
    this.items = this.term.valueChanges
      .debounceTime(400)
      .distinctUntilChanged()
      .switchMap(term => this.wikipediaService.search(term));
  }
}</pre>
        </section>

        <section>
            <h3>Dependency Injection</h3>
            <br/>
            <p>a coding pattern in which a class receives its dependencies from external sources rather than creating them itself</p>
        </section>

        <section>
            <pre><code class="typescript">class HeroService {

  heroes: Hero[];

  constructor() {
    this.heroes = HEROES;
  }

  getHeroes() {
    return this.heroes;
  }
}</code></pre>
        </section>

        <section>
            <p>Angular 1</p>
            <pre><code class="javascript">app.service('HeroService', HeroService)</code></pre>
            <p>Angular 2</p>
            <pre><code class="typescript">bootstrap(AppComponent, [HeroService])</code></pre>
        </section>

        <section>
            <p>Angular 1</p>
            <pre><code class="typescript">function AppCtrl(HeroService) {}
app.controller('AppCtrl', ['HeroService', AppCtrl])</code></pre>
            <p>Angular 2</p>
            <pre><code class="typescript">@Component({...})
class AppCtrl {
  constructor(heroService: HeroService) {
    this.heroes = heroService.getHeroes();
  }
}</code></pre>
        </section>

        <section>
            <pre><code class="typescript">@Injectable()
class HeroService {

  heroes: Hero[];

  constructor(private logger: Logger) {
    this.heroes = HEROES;
  }

  getHeroes() {
    this.logger.log('Getting heroes ...')
    return this.heroes;
  }

}</code></pre>
        </section>

        <section>
            <pre><code class="typescript">[HeroService]

[provide(HeroService, {useClass:HeroService})]

[new Provider(HeroService, {useClass:HeroService})]

let heroFactory = (l: Logger, us: UserService) => {
  return new HeroService(l, us.user.isSpecial);
};

let p = provide(HeroService, {
  useFactory: heroFactory,
  deps: [Logger, UserService]
});
bootstrap(AppComponent, [p, Logger, UserService]);</code></pre>
        </section>

        <section>
            <h3>Hierarchical Injectors</h3>
            <br/>
            <p>Angular's hierarchical dependency injection system supports nested injectors in parallel with the component tree</p>
        </section>

        <section>
            <img src="img/injectors.png"/>
        </section>

        <section>
            <pre><code class="typescript">@Component({
  providers: [ProductCatalogStore]
})
export class AddOnComponent {
  constructor(private _store: ProductCatalogStore) {}
}</code></pre>
        </section>


        <section>
            <h3>Testing</h3>
        </section>

        <section>
            <pre><code class="javascript">(function(app) {
  app.PhoneService = function() {
    this.phones = [/* ... */];
  };
  app.AppComponent = ng.core
    .Component({
      selector: 'my-app',
      templateUrl: 'app/app.html'
    })
    .Class({
      constructor: [app.PhoneService, function(PhoneService) {
        this.phones = PhoneService.phones;
      }]
    });
})(window.app || (window.app = {}));</code></pre>
        </section>

        <section>
            <pre><code class="javascript">describe('AppComponent', function() {
  var phoneService, appComponent;

  beforeEach(function() {
    phoneService = {
      phones: []
    };
    appComponent = new app.AppComponent(phoneService);
  });

  it("should have zero phones", function() {
    expect(appComponent.phones.length).toBe(0);
  });

});</code></pre>
        </section>

        <section>
            <h3>Upgrade from Angular 1</h3>
        </section>

        <section>
            <h4>Preparation</h4>
            <br/>
            <ul>
                <li>Use directives in place of controllers</li>
                <li>Use component instead of directive</li>
                <li>Use only module.service(...)</li>
                <li>Use ES6 or TypeScript</li>
            </ul>
        </section>

        <section>
            <h4>Upgrade</h4>
            <br/>
            <ul>
                <li>Big Bang</li>
                <li>Incremental</li>
            </ul>
        </section>

        <section>
            <h4>ngUpgrade</h4>
            <br/>
            <ul>
                <li>Load both Angular 1 and Angular 2</li>
                <li>Use ngUpgrade to bridge between them</li>
            </ul>
        </section>

        <section>
            <ul>
                <li>Include Angular 2 and upgrade module</li>
                <li>Pick component to upgrade and change to Angular 2 syntax</li>
                <li>Downgrade Angular 2 component to make it run in Angular 1</li>
                <li>Pick a service to upgrade</li>
                <li>Repeat step 2 and 3 (and 4)</li>
                <li>Replace Angular 1 bootstrap with Angular 2 bootstrap</li>
            </ul>
        </section>

        <section>
            <pre><code class="typescript">import {UpgradeAdapter} from 'angular2/upgrade';

var adapter = new UpgradeAdapter();
var app = angular.module('myApp', []);

adapter.bootstrap(document.body, ['myApp']);</code></pre>
        </section>

        <section>
            <pre><code class="javascript">app.directive('productDetail',
  adapter.downgradeNg2Component(ProductDetail));</code></pre>
        </section>

        <section>
            <pre><code class="typescript">@Component({
  selector: 'product-list',
  directives: [
    adapter.upgradeNg1Component('productListItem')
  ]
});
export class ProductList {}</code></pre>
        </section>

        <section>
            <h3>Non-Node Servers</h3>
            <br/>
            <ul>
                <li class="fragment">Use ES5</li>
                <li class="fragment">Add Node Server & Proxy</li>
                <li class="fragment">Add Node to build</li>
            </ul>
        </section>

        <section>
            <h2>Questions</h2>
        </section>

        <section>
            <h2>References</h2>
            <br/>
            <p><a href="https://angular.io/docs/ts/latest/">Angular Docs</a></p>
        </section>

        <section>
            <h3>Thanks</h3>
            <br><br>
            <p><a href="http://bit.ly/1k8SxMM">http://bit.ly/1k8SxMM</a></p>
        </section>

    </div>
</div>

<script src="js/head.min.js"></script>
<script src="js/reveal.js"></script>
<script src="js/jquery.js"></script>
<script src="js/app.js"></script>

</body>
</html>
