<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Angular 2 for the Angular 1 Dev</title>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/simple.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="css/sunburst.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
        document.write('<link rel="stylesheet" href="css/print/' + ( window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">');
    </script>

    <link rel="stylesheet" href="css/styles.css">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
<div class="reveal">

    <div class="slides">

        <section data-background-transition="slide">
            <div style="float: left;">
                <img src="img/shield.png"/>
            </div>
            <div style="float: right;">
                <h2>Angular 2 for the</h2>
                <h2>Angular 1 Dev</h2>
                <p>
                    <br/><br/>
                    <small>Created by John Urberg</small><br>
                    <small>Systems Architect @Lifetouch</small><br>
                    <small>@jurberg / jurberg.github.io</small>
                </p>
            </div>
        </section>

        <section>
            <h2>Angular 1</h2>
        </section>

        <section>
            <pre><code class="xml">&lt;html lang="en" ng-app="phonecatApp">
&lt;body ng-controller="PhoneListCtrl">
  <ul>
    <li ng-repeat="phone in phones">
      <span>{{phone.name}}</span>
      <p>{{phone.snippet}}</p>
    </li>
  </ul>
  <script src="js/angular.js"></script>
  <script src="js/app.js"></script>
&lt;/body>
&lt;/html></code></pre>
        </section>

        <section>
            <pre><code class="javascript">function PhoneListCtrl($scope) {
  $scope.phones = [
    {'name': 'Nexus S',
     'snippet': 'Fast just got faster with Nexus S.'},
    {'name': 'Motorola XOOM™ with Wi-Fi',
      'snippet': 'The Next, Next Generation tablet.'},
    {'name': 'MOTOROLA XOOM™',
      'snippet': 'The Next, Next Generation tablet.'}
  ];
}
angular.module('phonecatApp', [])
  .controller('PhoneListCtrl', ['$scope', PhoneListCtrl]);</code></pre>
        </section>

        <section>
            <img src="img/angular-one.png" height="55%" width="55%"/>
        </section>

        <section>
            <h2>Angular 2</h2>
        </section>

        <section>
            <pre><code class="xml">&lt;html>
&lt;head>
  <script>
    System.import('app/app')
      .then(null, console.error.bind(console));
  </script>
&lt;/head>
&lt;body>
  <my-app>Loading...</my-app>
&lt;/body>
&lt;/html></code></pre>
        </section>

        <section>
            <pre>import {bootstrap} from 'angular2/platform/browser';
import {Component} from 'angular2/core';

interface Phone {
  name: string;
  snippet: string;
}

var PHONES: Phone[] = [
  {'name': 'Nexus S',
   'snippet': 'Fast just got faster with Nexus S.'},
  {'name': 'Motorola XOOM™ with Wi-Fi',
   'snippet': 'The Next, Next Generation tablet.'},
  {'name': 'MOTOROLA XOOM™',
   'snippet': 'The Next, Next Generation tablet.'}
];</pre>
        </section>

        <section>
            <pre>@Component({
  selector: 'my-app',
  template: `
   &lt;ul>
      &lt;li *ngFor="#phone of phones">
        &lt;span>{{phone.name}}&lt;/span>
        &lt;p>{{phone.snippet}}&lt;/p>
      &lt;/li>
    &lt;/ul>
  `
})
export class AppComponent {
  public phones: Phone[] = PHONES;
}

bootstrap(AppComponent);</pre>
        </section>

        <section>
            <pre><code class="javascript">function AppComponent() {
  this.phones = PHONES;
}

AppComponent.annotations = [
  new ng.core.Component({
    selector: 'my-app',
    templateUrl: 'app/app.html'
  })];

document.addEventListener('DOMContentLoaded', function() {
  ng.platform.browser.bootstrap(AppComponent);
});</code></pre>
        </section>

        <section>
            <pre><code class="javascript">AppComponent = ng.core
  .Component({
    selector: 'my-app',
    templateUrl: 'app/app.html'
  })
  .Class({
    constructor: function() {
      this.phones = PHONES;
    }
  });

document.addEventListener('DOMContentLoaded', function() {
  ng.platform.browser.bootstrap(AppComponent);
});</code></pre>
        </section>

        <section>
            <img src="img/overview2.png" height="125%" width="125%"/>
        </section>

        <section>
            <h3>Modules</h3>
            <br/>
            <p>Angular 2 no longer provides it's own modules.</p><p>It uses TypeScript or ES6 modules instead.</p>
        </section>

        <section>
            <h3>Angular 1</h3>
            <pre><code class="typescript">angular.module('app', ['app.component']);</code></pre>
            <h3>Angular 2</h3>
            <pre><code class="typescript">import {Component} from 'angular2/core';
import {AppComponent} from './app.component';</code></pre>
        </section>

        <section>
            <h3>Components</h3>
            <br/>
            <p>A component is the main UI building block of Angular 2</p>
        </section>

        <section>
            <ul>
                <li class="fragment">An Angular 2 app is a tree of components</li>
                <li class="fragment">Every Angular 2 app must have at least one component</li>
                <li class="fragment">A component class is an execution context for the template</li>
                <li class="fragment">A component requires a @Component decorator</li>
            </ul>
        </section>

        <section>
            <h4>Component Lifecyle Hooks</h4>
            <br/>
            <ul>
              <li>ngOnChanges - called when a binding value changes</li>
              <li>ngOnInit - after the first ngOnChanges</li>
              <li>ngDoCheck - developer's custom change detection</li>
              <li>ngAfterContentInit - after component content initialized</li>
              <li>ngAfterContentChecked - after every check of component content</li>
              <li>ngAfterViewInit - after component's view(s) are initialized</li>
              <li>ngAfterViewChecked - after every check of a component's view(s)</li>
              <li>ngOnDestroy - just before the directive is destroyed.</li>
            </ul>
        </section>

        <section>
            <h2>Gone!</h2>
            <br/>
            <ul>
                <li>Controllers</li>
                <li>Scope</li>
            </ul>
        </section>

        <section>
            <h3>Angular 1</h3>
            <pre><code class="typescript">function AddOnController($scope, ProductCatalogStore) {
  this._store = ProductCatalogStore;
  this.addOns = [];
  this.init = function() {
    this.addOns = this._store.getAddOns();
  };
  $scope.$on('destroy', function() {
    this.addOns = [];
  });
}
app.controller('AddOnController',
  ['$scope', 'ProductCatalogStore', AddOnController]);</code></pre>
            </section>

        <section>
            <h3>Angular 2</h3>
            <pre><code class="typescript">@Component({
  providers: [ProductCatalogStore],
  directives: [AddOnItemComponent]
})
export class AddOnComponent implements OnInit, OnDestroy {
  addOns:AddOn[];
  constructor(private _store: ProductCatalogStore) {
  }
  ngOnInit() {
    this.addOns = this._store.getAddOns();
  }
  ngOnDestroy() {
    this.addOns = null;
  }
}</code></pre>
        </section>

        <section>
            <h3>Templates</h3>
            <br/>
            <p>"HTML Plus"</p>
        </section>

        <section>
            <h3>HTML Attribute vs. DOM Property</h3>
            <br/>
            <ul>
                <li>Attributes are defined by HTML</li>
                <li>Properties are defined by DOM</li>
                <li>Angular 2 binds to DOM properties</li>
            </ul>
        </section>

        <section>
            <p>Attributes initialize DOM properties and then they are done. Property values may change; attribute values don't.</p>
        </section>

        <section>
            <p>The HTML attribute and the DOM property are not the same thing even when they have the same name.</p>
        </section>

        <section>
            <h3>Property Bindings</h3>
            <br/>
            <ul>
                <li>Element Property</li>
                <li>Component Property</li>
                <li>Directive property</li>
            </ul>
        </section>

        <section>
            <pre><code class="xml"><!-- Angular 1 -->
<todo-cmp model="myTodo"></todo-cmp>

<!-- Angular 2 -->
<todo-cmp bind-model="myTodo"></todo-cmp>

<!-- Angular 2 "Shorthand" -->
<todo-cmp [model]="myTodo"></todo-cmp></code></pre>
        </section>

        <section>
            <pre><code class="xml"><!-- Attribute -->
&lt;td [attr.colspan]="1 + 1">One-Two&lt;/td>

<!-- Class -->
&lt;div [class.special]="isSpecial">Special&lt;/div>

<!-- Style -->
&lt;button [style.color] = "isSpecial ? 'red' : 'green'"/></code></pre>
        </section>

        <section>
            <ul>
                <li>ng-src => [src]</li>
                <li>ng-href => [href]</li>
                <li>ng-show => [visible]</li>
                <li>ng-hide => [hidden]</li>
                <li>ng-style="color: red" => [style.color]="red"</li>
                <li>ng-class="name" => [class.name]</li>
                <li>ng-class={'name': condition} => [class.name]="condition"</li>
            </ul>
        </section>

        <section>
            <h3>Event Bindings</h3>
            <br/>
            <ul>
                <li>Element Event</li>
                <li>Component Event</li>
                <li>Directive Event</li>
            </ul>
        </section>

        <section>
            <pre><code class="xml"><!-- Angular 1 -->
&lt;button ng-click="submit()"/>

<!-- Angular 2 -->
&lt;button on-click="submit()"/>

<!-- Angular 2 "Shorthand" -->
&lt;button (click)="submit($event)"/>

<!-- Bubble Event Up -->
&lt;button (^click)="submit($event)"/></code></pre>
        </section>

        <section>
            <ul>
                <li>ng-click => (click)</li>
                <li>ng-dblclick => (dblclick)</li>
                <li>ng-keydown => (keydown)</li>
                <li>ng-keyup => (keyup)</li>
                <li>ng-mouseover => (mouseover)</li>
                <li>ng-mouseenter => (mouseenter)</li>
                <li>ng-mouseleave => (mouseleave)</li>
            </ul>
        </section>

        <section>
            <h3>Two-Way Bindings</h3>
            <pre><code class="xml"><!-- Angular 1 -->
<todo-cmp model="myTodo"></todo-cmp>

<!-- Angular 2 -->
<todo-cmp bindon-model="myTodo"></todo-cmp>

<!-- Angular 2 "Shorthand" -->
<todo-cmp [(model)]="myTodo"></todo-cmp>

&lt;input [ng-model]="todo.text"
       (ng-model-change)="todo.text=$event"/>
&lt;input [(ng-model)]="todo.text"/></code></pre>
        </section>

        <section>
            <h3>Local Variables</h3>
            <pre>&lt;video #movieplayer>
  &lt;button (click)="movieplayer.play()">
&lt;/video>

&lt;video-player var-movieplayer>&lt;/video-player>

&lt;input #new-todo/>
&lt;p>{{newTodo.value}}&lt;/p></pre>
        </section>

        <section>
            <h3>Templates</h3>
            <br/>
            <p>“syntactic sugar” that makes it easier to read and write directives that modify HTML layout</p>
        </section>

        <section>
            <pre>&lt;!-- Angular 1 -->
&lt;li ng-repeat="item in items">
  {{$index}} {{item}}
&lt;/li>

&lt;!-- Angular 2 -->
&lt;li *ngFor="#item of items; #i = index">
  {{i}} {{item}}
&lt;/li>

&lt;!-- Angular 2.0 longhand ngFor -->
&lt;template ngFor #item="$implicit" [ngForOf]="items" #i="index">
  {{i}} {{item}}
&lt;/template></pre>
        </section>

        <section>
            <h3>Input/Output Variables</h3>
            <br/>
            <p>Creates parameters for directive properties</p>
        </section>


        <section>
            <pre><code>&lt;hero-detail
  [hero]="currentHero"
  (deleted)="onHeroDeleted($event)">
&lt;/hero-detail></code></pre>
        </section>

        <section>
            <pre><code class="javascript">class HeroDetailComponent {
  @Input() hero: Hero;
  @Output() deleted = new EventEmitter&lt;Hero>();
}</code></pre>
        </section>

        <section>
            <pre><code class="javascript">HeroDetailComponent = ng.core
  .Component({
    inputs: ['hero'],
    outputs: ['deleted'],
  })
  .Class({
    constructor: function() {
      this.hero = null;
      this.deleted = new EventEmitter();
    }
});</code></pre>
        </section>

        <section>
            <h3>Pipes</h3>
            <br/>
            <p>Angular 2 replacement for filter</p>
        </section>

        <section>
            <pre><code><p>The hero's birthday is {{ birthday | date }}</p></code></pre>
        </section>

        <section>
            <pre><code>import {Pipe} from 'angular2/core';

@Pipe({name: 'exponentialStrength'})
export class ExponentialStrengthPipe {
  transform(value:number, args:string[]) : any {
    return Math.pow(value, parseInt(args[0] || '1', 10));
  }
}</code></pre>
        </section>

        <section>
            <pre><code>@Component({
  selector: 'power-booster',
  template: `
   <h2>Power Booster</h2>
   <p>
    Super power boost: {{2 | exponentialStrength: 10}}
   </p>
  `,
  pipes: [ExponentialStrengthPipe]
})
export class PowerBooster { }</code></pre>
        </section>

        <section>
            <h3>Routing</h3>
        </section>

        <section>
            <h4>Angular 1</h4>
            <pre><code class="javascript">phonecatApp.config(['$routeProvider',
  function($routeProvider) {
    $routeProvider.
      when('/phones', {
        templateUrl: 'partials/phone-list.html',
        controller: 'PhoneListCtrl'
      }).
      when('/phones/:phoneId', {
        templateUrl: 'partials/phone-detail.html',
        controller: 'PhoneDetailCtrl'
      }).
      otherwise({
        redirectTo: '/phones'
      });
}]);</code></pre>
        </section>

        <section>
            <h4>Angular 2</h4>
            <pre><code class="javascript">@Component({ ... })
@RouteConfig([
  {path:'/crisis-center', name: 'CrisisCenter',
    component: CrisisListComponent},
  {path:'/heroes', name: 'Heroes',
    component: HeroListComponent},
  {path:'/hero/:id', name: 'HeroDetail',
    component: HeroDetailComponent}
])
export class AppComponent { }</code></pre>
        </section>

        <section>
            <pre><code><h1>Component Router</h1>
<a [routerLink]="['CrisisCenter']">Crisis Center</a>
<a [routerLink]="['Heroes']">Heroes</a>
<router-outlet></router-outlet></code></pre>
        </section>

        <section>
            <h3>Attribute Directives</h3>
            <br/>
            <p>An Attribute directive changes the appearance or behavior of a DOM element</p>
        </section>

        <section>
            <h3>Structural Directives</h3>
        </section>

        <section>
            <h3>Dependency Injection</h3>
        </section>

        <section>
            <h2>Questions</h2>
        </section>

        <section>
            <h2>References</h2>
            <br/>
            <ul>
                <li><a href="https://angular.io/docs/ts/latest/">Angular Docs</a></li>
            </ul>
        </section>

        <section>
            <h3>Thanks</h3>
            <br><br>
            <p><a href="http://bit.ly/1k8SxMM">http://bit.ly/1k8SxMM</a></p>
        </section>

    </div>
</div>

<script src="js/head.min.js"></script>
<script src="js/reveal.js"></script>
<script src="js/jquery.js"></script>
<script src="js/app.js"></script>

</body>
</html>
